{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>Register</title>
</head>
<body>
{% include 'base.html' %}
<br>
<div class="container bg-white shadow-md p-5 form-layout">
<h3>Delete a task </h3>
    <hr>
    <br>
<form method="post" autocomplete="off">
    {% csrf_token %}

    <p>Are you sure you want to delete the task?</p>

    <a href="{% url 'view_task' %}">Go back</a>
    <br><br>

    <input class="btn btn-danger navbar-btn" type="submit" value="Delete">
</form>
</div>
<br>
</body>
</html>