{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Login</title>
</head>
<body>
{% include 'base.html' %}
<br>
<div class="container bg-white shadow-md p-5 form-layout">
<h3>Login</h3>
    <hr>
    <br>
<form method="post" autocomplete="off">
    {% csrf_token%}

    {{ form|crispy }}

    <br>

    <input class="btn btn-primary navbar-btn" type="submit" value="Submit">

</form>
</div>
<br>
</body>
</html>